#
# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Location of the script.
build_file: "appengine-java-standard/kokoro/gcp_ubuntu/release.sh"

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 71528
      keyname: "sonatype_username"
    }
    keystore_resource {
      keystore_config_id: 71528
      keyname: "sonatype_password"
    }
    keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-keyring"
    }
    keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-passphrase"
    }
     keystore_resource {
      keystore_config_id: 70247
      keyname: "maven-gpg-pubkeyring"
    }
     keystore_resource {
      keystore_config_id: 75669
      keyname: "gae-java-bot-github-public-repo-token"
      backend: "blade:keystore-fastconfigpush"
    }
  }
}

env_vars {
  key: "SONATYPE_USERNAME"
  value: "$(cat $KOKORO_ROOT/src/keystore/71528_sonatype_username)"
}

env_vars {
  key: "SONATYPE_PASSWORD"
  value: "$(cat $KOKORO_ROOT/src/keystore/71528_sonatype_password)"
}

env_vars {
  key: "GAE_JAVA_BOT_GITHUB_TOKEN"
  value: "$(cat $KOKORO_ROOT/src/keystore/75669_gae-java-bot-github-public-repo-token)"
}

env_vars {
  key: "GPG_PASSPHRASE"
  value: "$(cat $KOKORO_ROOT/src/keystore/70247_maven-gpg-passphrase)"
}
